@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #18072A;
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
}
  
  ::-webkit-scrollbar-thumb {
    height: 10px;
    background: #EABE6C;
    border-radius: 10px;
  }